<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Viewport Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <!-- Title -->
    <title>{{siteDetails.name}}</title>

    <!-- SEO -->
    <script type="application/ld+json">
    {
      "@type": "WebSite",
      "@context": "http://schema.org",
      "url": "{{siteDetails.url}}",
      "name": "{{siteDetails.name}}",
      "author": {
        "@type": "Person",
        "name": "{{siteDetails.author.name}}",
        "email": "{{siteDetails.author.email}}"
      },
      "description": "{{siteDetails.description}}"
    }
    </script>

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <meta name="format-detection" content="telephone=no">

    <meta name="robots" content="index, follow">

    <meta name="author" content="{{siteDetails.author.name}}">
    <meta name="description" content="{{siteDetails.description}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{siteDetails.name}}">
    <meta name="twitter:description" content="{{siteDetails.description}}">

    <meta property="og:title" content="{{siteDetails.name}}">
    <meta property="og:site_name" content="{{siteDetails.name}}">
    <meta property="og:description" content="{{siteDetails.description}}">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png" />

    <link rel="icon" type="image/png" sizes="36x36" href="android-icon-36x36.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="android-icon-48x48.png" />
    <link rel="icon" type="image/png" sizes="72x72" href="android-icon-72x72.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="android-icon-96x96.png" />
    <link rel="icon" type="image/png" sizes="144x144" href="android-icon-144x144.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png" />

    <meta name="msapplication-TileImage" content="ms-icon-144x144.png" />

    <!-- Theme color -->
    <meta name="msapplication-TileColor" content="#ecf0f1" />
    <meta name="theme-color" content="#ecf0f1" />

    <!-- PWA -->
    <link rel="manifest" href="manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f1f4f5">
    <meta name="apple-mobile-web-app-title" content="Cube">
    <meta name="theme-color" content="#f1f4f5" />


    <!-- Main stylesheet -->
    <link rel="stylesheet" href="main.{{cacheVersion}}.css" />

    <!-- Icon font(s) -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <script src="https://kit.fontawesome.com/5ebdf346fa.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <nav class="nav">
      <a class="logo page-link" data-page="simulator">
        <img src="icon.png" alt="Logo">
        <h1><span class="site-name">{{siteDetails.name}}</span><span class="page-name"></span></h1>
      </a>
      <button class="menu-btn" aria-label="Toggle Mobile Navigation Menu">
        <div class="icon">
          <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        </div>
      </button>
      <div class="links">
        <a data-page="simulator" class="page-link blue"><i class="fas fa-mouse"></i> Simulator</a>
        <a data-page="scrambler" class="page-link blue"><i class="fas fa-random"></i> Scrambler</a>
        <a data-page="solver" class="page-link blue"><i class="fas fa-robot"></i> Solver</a>
        <a data-page="learn" class="page-link blue"><i class="fas fa-graduation-cap"></i> Learn</a>
        <a data-page="about" class="page-link blue"><i class="fas fa-info-circle"></i> About</a>
      </div>
    </nav>
    <button aria-label="Install App" id="install-button" style="display: none;">Install</button>
    <div class="container page full-height" data-page="simulator">
      <div class="col">
        <div class="logo">
          <img src="settings_icon.png" alt="Settings Icon" />
          <h1>Options</h1>
          <div class="logo-buttons">
            <button class="toggle-notation styled-button"><span class="face-view"><i class="fas fa-font"></i> Use <span class="phone-no-display">Cube</span> Notation</span><span class="cube-notation"><i class="fas fa-palette"></i> Use Color View</span></button>
            <button class="toggle-log styled-button">
              <span class="open">
                <i class="fas fa-eye-slash"></i> Hide
              </span>
              <span class="closed">
                <i class="fas fa-eye"></i> Show
              </span>
              <span class="displayed phone-no-display">
                Move
              </span>
              Log
            </button>
          </div>
        </div>

        <div class="set-pieces openable-section closed">
          <button class="label">
            <p> 
              {{!-- <i class="fas fa-th"></i> --}}
              Set Pieces
            </p>
            <i class="icon im im-angle-down"></i>
          </button>
          <div class="content"></div>
        </div>

        <div class="moves openable-section closed">
          <button class="label">
            <p>
              {{!-- <i class="fas fa-location-arrow"></i> --}}
              Moves
            </p>
            <i class="icon im im-angle-down"></i>
          </button>
          <div class="content">
            <ul class="misc-buttons">
              <li>
                <button class="styled-button solve"><i class="fas fa-robot"></i> Solve <span class="mobile-no-display">Cube</span></button>
                <p>Solve cube automatically in less than 30 moves.</p>
              </li>
              <li>
                <button class="styled-button scramble"><i class="fas fa-random"></i> Scramble <span class="mobile-no-display">Cube</span></button>
                <p>Scramble cube with 20 random moves.</p>
              </li>
              <li>
                <button class="styled-button undo"><i class="fas fa-undo"></i> Undo</button>
                <p>Undo the previous move (does not include manual piece changes).</p>
              </li>
            </ul>
            <hr>
            <div class="move-buttons">
              {{#generateMovesMarkup cubeMoves}}
                <li class="move" data-color="{{@move.color}}" data-direction="{{@move.direction}}">
                  <button class="styled-button {{@move.direction}} {{@move.color}}" aria-label="Make move {{@move.color}} {{@move.direction}} ">
                    <span class="notation">{{@move.notation}}</span>
                    
                    <img alt="Rotate Clockwise Arrow Icon" class="rotate_icon clockwise" src="rotate_arrows/clockwise.png" />
                    <img alt="Rotate Counterclockwise Arrow Icon" class="rotate_icon counterclockwise" src="rotate_arrows/counterclockwise.png" />
                    <img alt="Dark Rotate Clockwise Arrow Icon" class="rotate_icon dark clockwise" src="rotate_arrows/clockwise_dark.png" />
                    <img alt="Dark Rotate Counterclockwise Arrow Icon" class="rotate_icon dark counterclockwise" src="rotate_arrows/counterclockwise_dark.png" />
                  </button>
                  <p class="key"></p>
                </li>
              {{/generateMovesMarkup}}
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="row">
          <div class="cube-image front-view"></div>
          <p class="caption">Front View</p>
        </div>
        <div class="row">
          <div class="cube-image back-view"></div>
          <p class="caption">Back View</p>
        </div>
      </div>
    </div>
    <div class="log">
      <div class="top">
        <button class="close-log" aria-label="Close Log">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"/></svg>
        </button>
        <h1>Log</h1>
      </div>
      <ul class="log-items"></ul>
      <p class="move-count">0 Moves</p>
      <button class="clear-log styled-button">Clear Log</button>
    </div>
    <div class="page scrambler full-height columned-page" data-page="scrambler">
      <div class="column">
        <h1 class="styled-title title">Random Scramble</h1>
        <div class="cube-area-component">
          <div class="center-cube"></div>
          <div class="active-move">
            <button class="back">
              <i class="im im-angle-left"></i>
            </button>
            <div class="move-number"></div>
            <div class="move not-button"></div>
            <button class="forward">
              <i class="im im-angle-right"></i>
            </button>
          </div>
          <div class="scramble-notation"></div>
        </div>
        <div class="input-container scramble-moves-container">
          <span>Scramble With</span><input class="scramble–moves" type="number" value="20" /><span>Random Moves</span>
        </div>
        <button class="new-scramble styled-button"><i class="fas fa-random"></i>Create New Scramble</button>
      </div>
      <div class="column scramble-moves-section">
        <h1 class="styled-title title">Scramble Moves</h1>
        <div class="moves"></div>
      </div>
    </div>

    <div class="page solver" data-page="solver">
      <div class="instructions">
        
      </div>
      <div class="inner columned-page">
        <div class="column">
          <h1 class="styled-title title">Solve Cube</h1>
          <p class="styled-description description">find steps to solve your cube automatically</p>
          <div class="cube-area-component">
            <div class="center-cube"></div>
            <div class="active-move">
              <button class="back">
                <i class="im im-angle-left"></i>
              </button>
              <div class="move-number"></div>
              <div class="move not-button"></div>
              <button class="forward">
                <i class="im im-angle-right"></i>
              </button>
            </div>
            <div class="scramble-notation"></div>
          </div>
          <button class="new-scramble styled-button"><i class="fas fa-robot"></i>Solve Cube</button>
        </div>
        <div class="column second-column">
          <h1 class="styled-title title"><span>Set Pieces</span><span>Moves</span></h1>
          <p class="styled-description description">design the cube you'd like to solve</p>
          <div class="moves"></div>
          <div class="set-pieces">
            <div class="content"></div>
          </div>
        </div>
      </div>
    </div>
    {{!-- <div class="page learn" data-page="learn">
      <div class="meta">
        <h1 class="learn">Learn</h1>
      <p>a database of resources to learn more about cubing</p>
      </div>
      <div class="list-section">
        
      </div>

    </div> --}}
    <div class="page learn construction" data-page="learn">
      <h1>Under Construction</h1>
      <p>We're making improvements to this page and will be back soon.</p>
    </div>
    <div class="page about construction" data-page="about">
      <h1>Under Construction</h1>
      <p>We're making improvements to this page and will be back soon.</p>
    </div>

    <div class="stopwatch closed">
      <header>
        <p class="label">Stopwatch</p>
        <i class="icon im im-angle-up"></i>
      </header>
      <div class="stopwatch-container">
        <div class="time">
          <span class="digits min"></span><span class="unit">m</span>
          <span class="digits sec"></span><span class="unit">s</span>
          <span class="small-digits ms"></span>
        </div>
        <div class="buttons">
          <button class="start-stop styled-button">Start</button>
          <button class="reset styled-button">Reset</button>
        </div>
        <p>Press space to start/stop the stopwatch.</p>
      </div>
    </div>

    <!-- Main script -->
    <script>
      const SITE_TITLE = (() => {
        const e = document.createElement('p');
        e.innerHTML = "{{siteDetails.name}}";
        return e.innerText;
      })();
    </script>
    <script src="main.{{cacheVersion}}.js"></script>

    <!-- Service Worker and PWA -->
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('service-worker.js')
        });
      }

      {{!-- let deferredInstallPrompt = null;
      const installButton = document.getElementById('install-button');
      installButton.addEventListener('click', installPWA);

      window.addEventListener('beforeinstallprompt', saveBeforeInstallPromptEvent);

      function saveBeforeInstallPromptEvent(evt) {
        deferredInstallPrompt = evt;
        installButton.removeAttribute('hidden');
      }

      function installPWA(evt) {
        deferredInstallPrompt.prompt();
        evt.srcElement.setAttribute('hidden', true);
        deferredInstallPrompt.userChoice
          .then((choice) => {
            if (choice.outcome === 'accepted') {
              console.log('User accepted the A2HS prompt', choice);
            } else {
              console.log('User dismissed the A2HS prompt', choice);
            }
            deferredInstallPrompt = null;
          });
      }

      window.addEventListener('appinstalled', logAppInstalled);

      function logAppInstalled(evt) {
        console.log('App was installed.', evt);
      } --}}
    </script>
  </body>
</html>
